.submit {
  color: white;
  background-color: grey;
  border-color: #db6400;
  border-radius: 5px;
  margin: 8px;
}
.submit:hover {
  background-color: #393e46;
  border-color: #db6400;
  border-radius: 5px;
}
.btn-info-location {
  color: white;
  background-color: grey;
  border-color: #db6400;
  border-radius: 5px;
  margin: 3px;
}
.btn-info-location:hover {
  background-color: #393e46;
  border-color: #db6400;
  border-radius: 5px;
}
.city-input {
  max-width: 60%;
}
