.submit-form {
  background-color: black;
  color: black;
}
.clear-form {
  background-color: black;
  color: black;
}
.search.form {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 60%;
}
.current-location {
  background-color: black;
  color: black;
}
