.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
}
.card {
  display: block;
  margin: 0 auto;
  max-width: 48%;
  max-height: 20%;
  top: 20px;
  border: 1px solid black;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.card-title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
}
.container {
  max-width: 80%;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 1px;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid black;
}
.day1-temp-max,
.day2-temp-max,
.day3-temp-max,
.day4-temp-max,
.day5-temp-max {
  color: black;
}
h1 {
  display: inline;
  text-align: left;
  font-size: 50px;
  padding: 80px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 15px;
  color: grey;
  text-align: center;
}
h4 {
  font-size: 20px;
  display: block;
  text-align: left;
}
h5 {
  color: white;
}
h1,
h3,
h4 h2 {
  font-family: "Josefin Sans", sans-serif;
}
.units {
  position: relative;
  right: 100px;
  font-family: "Anonymous Pro", monospace;
}
.large-temp {
  position: relative;
  right: 50px;
  font-family: "Anonymous Pro", monospace;
}
.celsius,
.fahrenheit {
  padding: 0;
  border: none;
  background: none;
  color: black;
  text-decoration: none;
}
footer {
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: none;
}
ul {
  text-transform: capitalize;
  position: relative;
  left: -40px;
  font-size: 10px;
  list-style-type: none;
  text-align: left;
}
.city {
  text-align: center;
  position: relative;
  right: 20px;
  bottom: 150px;
  padding: 0;
  font-size: 30px;
}
.submit {
  color: white;
  background-color: grey;
  border-color: #db6400;
  border-radius: 5px;
  margin: 8px;
}
.submit:hover {
  background-color: #393e46;
  border-color: #db6400;
  border-radius: 5px;
}
.btn-info-location {
  color: white;
  background-color: grey;
  border-color: #db6400;
  border-radius: 5px;
  margin: 3px;
}
.btn-info-location:hover {
  background-color: #393e46;
  border-color: #db6400;
  border-radius: 5px;
}
.city-input {
  max-width: 60%;
}
.icon canvas {
  position: absolute;
  bottom: 100px;
  left: 360px;
}
